if SHIELD_HW-CORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "HW-Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HW-CORNE_LEFT || SHIELD_HW-CORNE_RIGHT

config ZMK_SPLIT
    default y

endif